-if user_signed_in?
  -if !Favorite.exists?(item_id:@item.id)
    = link_to "お気に入り", item_favorites_path(@item),method: :post, class:"star"
  - else
    = link_to "お気に入り解除",item_favorite_path(@item),method: :delete, class:"star"
- else
  おされへん