.o-footer
  %ul.o-footer__nav
    %li
      プライバシーポリシー
    %li.o-footer__nav--li
      メルカリ利用規約
    %li.o-footer__nav--li
      特定商取引に関する表記
  .o-footer__logo
    = link_to "#" do
      = image_tag "logo-white.png",size:"185x49",class:"o-footer__logo--img"