.done-main
  = render "more/header"
  .done-main__center
    .done-main__center__box
      .done-main__center__box__name
        = @item.name
      .done-main__center__box__title
        購入が完了しました！
      .done-main__center__box__top
        = link_to root_path do
          topページに戻る
= render "more/footer"