-# .main
-#   .show-main
-#     .content
-#       .content__top
-#         .item-box
-#           .item-box__name
-#             product1
-#           .item-box__photo
-#             %span
-#               %span
-#                 = image_tag src="/assets/image-1.png", size: "620x443"
-#               %ul
-#                 %li
-#                   = image_tag src="/assets/image-1.png", size: "140x97"
-#                 %li
-#                   = image_tag src="/assets/image-2.png", size: "140x97"
-#                 %li
-#                   = image_tag src="/assets/image-3.png", size: "140x97"
-#           .item-box__price
-#             ¥10000
-#             .item-box__price__detail
-#               %span
-#                 (税込)
-#               %span
-#                 送料込み
-#           .tablebox-title
-#             product1
-#           .info-table 
-#             %table
-#               %tbody
-#                 %tr
-#                   %th
-#                     出品者
-#                   %td
-#                     hoge
-#                 %tr
-#                   %th
-#                     カテゴリー
-#                   %td
-#                     %a{:href => "#"} レディース
-#                     %br
-#                     %a{:href => "#"} トップス
-#                     %br
-#                     %a{:href => "#"} Tシャツ/カットソー(半袖/袖なし)
    
-#                 %tr
-#                   %th
-#                     ブランド
-#                   %td
-#                 %tr
-#                   %th
-#                     商品のサイズ
-#                   %td
-#                 %tr
-#                   %th
-#                     商品の状態
-#                   %td
-#                     新品/未使用
-#                 %tr
-#                   %th
-#                     配送料の負担	
-#                   %td
-#                     送料込み（出品者負担）
-#                 %tr
-#                   %th
-#                     発送元の地域
-#                   %td
-#                     %a{:href => "#"} 青森県
-#                 %tr
-#                   %th
-#                     発送日の目安	
-#                   %td
-#                     1-2日で発送
-#           .favorite
-#             お気に入り
-#         .comment-box
-#           .comment-box__text
-#             %textarea
-#               :preserve
              
-#           .comment-box__message
-#             相手のことを考え丁寧なコメントを心がけましょう。
-#             %br
-#             不快な言葉遣いなどは利用制限や退会処分となることがあります。
-#           .comment-box__btn
-#             %button#comment-btn コメントする
-#       .link-page
-#         .link-page__left
-#           %a{:href => "#"} < 前の商品
-#         .link-page__right
-#           %a{:href => "#"} 後ろの商品 >
-#       .look-item
-#         %a{:href => "#"} レディースをもっと見る