.o-footer{
  height: 220px;
  text-align: center;
  background-color: #f5f5f5;
  &__nav{
    font-size: 12px;
    padding-top: 40px;
    &--li{
      margin: 16px 10px 0;
      display: inline;
    }
  }
  &__logo{
    margin: 30px auto 0;
  }
}