.t-headers{
  padding: 0 60px;
}
.t-header{
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  padding: 15px 0 0;
  &__main{
    position: relative;
    display: flex;
    align-items: center;
    &__img{
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
    }
    &__box{
      margin-left: auto;
      width: 100%;
      form{
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        input{
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        button{
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
          &__imgs{
            vertical-align: bottom;
          }
        }
      }
    }
  }
  &__nav{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    &__left{
      position: relative;
      display: flex;
      text-decoration: none;
      list-style: none;
      &--item{
        a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        a:hover{
          color: #3CCACE;
        }
      }
    }
    &__right{
      margin-left: auto;
      display: flex;
      text-decoration: none;
      list-style: none;
      &--item2{
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
        a{
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
        } 
        a:hover{
          color: #3CCACE;
        }
      }
    }
  }
}

.t-contents{
  background: #f8f8f8;
}
.t-content{
  width: 100%;
    height: 560px;
    background-image: image-url('bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  &__box{
    padding: 100px 0 0 100px;
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 40px;
      line-height: 1.2;
      color: #fff;

    }
    &__text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
    }
    &__btn{
    }
    
  }
}
.t-content1{
  padding: 60px 20px;
  
  &__title{
    font-size: 26px;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__line{
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    margin: auto;
  }
  &__lists{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    &__list{
      position: relative;
      span.number{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4%;
        font-size: 30px;
        text-align: center;
        padding: 3px 20px;
        background-color: #3CCACE;
        color: #fff;
      }
      list-style: none;
      margin: 0 30px;
      &__text{
        margin-top: 20px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        span{
          color: #3CCACE;
          font-size: 22px;
          padding: 0;
        }
      }
      &__title{
        margin-top: 18px;
        text-align: center;
      }
    }
  }
}
.t-content3{
  background-image: image-url('bg-topMiddleDl-pict.jpg');
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
    align-items: center;
  &__box{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &__title{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
  }
}
.t-content2{
  background-color: #fff;
  padding: 60px 100px;
  &__title{
    font-size:30px;
    text-align: center;
    font-weight: bold;
    margin: 50px 0 8px 0;
  }
  &__line{
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    margin: auto;
  }
  &__lists{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    &__list{
      &--img{
        margin-left: 20px;
      }
      &__title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
      }
      &__text{
        margin-bottom: 50px;
      }
    }
  }
}
.t-content4{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box{
    &__text{
      margin-top: 3px;
      text-align: center;
      font-size: 24px;
      a{
        color: #3CCACE;
        text-decoration: none;
      }
    }
    &__lists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      &__list{
        display: inline-block;
        float: left;
        &__img{
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
        &__box{
          background-color: white;
          color: #333;
          padding: 16px;
          &--name{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            text-decoration: none;
            a{
              text-decoration: none;
            }
          }
          &__deta{
            a{
              padding-right: 60px;
            }
          } p{
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
.t-content5{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  padding-bottom: 80px;
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__box{
    &__name{
      text-align: center;
      font-size: 24px;
      a{
        color: #3CCACE;
        text-decoration: none;
      }
    }
    &__lists{
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      &__list{
        width: 220px;
        display: inline-block;
        float: left;
        &__img{
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
        &__box{
          background-color: white;
          color: #333;
          padding: 16px;
          &--name{            
            margin-top: 3px;
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            text-decoration: none;
            a{
              text-decoration: none;
            }
          }
          &__deta{
            
            a{
              padding-right: 60px;
            }
            
          } p{
            font-size: 10px;
            text-align: left;
          }
        }
      }
    }
  }
}
.t-contents1{
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__box{
    color: #fff;
    text-align: center;
    &__title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__imag{
      margin: 20px auto 0;
    }
  }
}
.t-footers{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        li{
          list-style: none;
          margin: 0;
          padding: 0;
          a{
          color: #fff;
          text-decoration: none;
          font-size: 10px;
          line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p{
    font-size: 14px;
  }
}

.t-btn:hover{
  opacity: 0.9;
}
.logo:hover{
  opacity: 0.6;
}
