.wrapper{
  display: flex;
  min-height: 400px;
  background-color:#f5f5f5;
}
.mp-name{
  text-align: center;
  background-color:#f5f5f5;
  font-size: 20px;
  font-weight: 500;
  padding-top: 50px;
}
.mp-sidebar{
  width: 300px;
  margin-left: 50px;
  .mp-sidecontents{
    margin: 40px auto 0;
    padding: 16px;
    font-size: 14px;
    color: #333;
    li{
      padding: 0.5em 1em;
      margin: 1em 0;
      font-weight: bold;
      background: #FFF;
      border: solid 3px #3CCACE;;
      border-radius: 10px;
      list-style: none;
      cursor: pointer;
      a{
        font-size: 14px;
        color: #3CCACE;;
        padding: 9px 16px;
        text-decoration: none;
      }
    }
    li:hover{
      opacity: 0.7;
    }
  }
}

.mp-main{
  width: 700px;
  margin: 50px 0 50px 150px;
  &__title{
    height: 72px;
    font-size: 16px;
    line-height: 72px;
    padding-left: 16px;
    font-weight: bold;
    border-bottom: 2px solid #f8f8f8;
    background-color: white;
  }
  .mp-item-box{
    width: 100%;
    background-color: white;
    .mp-item{
      padding-top: 10px;
      padding-left: 10px;
      display: flex;
      border-bottom: 2px solid #f8f8f8;
      &__img{
        font-size: 30px;
      }
      &__name{
        font-size: 14px;
        margin-left: 40px;
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
    .mp-item:hover{
      background-color: #f8f8f8;
    }
  }
  .mp-page{
    padding-left: 16px;
    padding-top: 10px;
    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
