.wrapper{
  display: flex;
  height: 600px;
}

.mp-sidebar{
  width: 300px;
  
  background-color:#f8f8f8;
  .mp-sidecontents{
    margin: 40px auto 0;
    padding: 16px;
    font-size: 14px;
    color: #333;
    li{
      padding: 0.5em 1em;
      margin: 1em 0;
      font-weight: bold;
      background: #FFF;
      border: solid 3px #3CCACE;;
      border-radius: 10px;
      list-style: none;
      cursor: pointer;
      a{
        font-size: 14px;
        color: #3CCACE;;
        padding: 9px 16px;
        text-decoration: none;
      }
    }
  }
}

.mp-main{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color:#f8f8f8;
  .mp-maincontents{
  }
}
