.is-whapper{
  width:100%;
  height:100%;
  background-color: #f5f5f5;
  .is-contents{
    width:700px;
    background-color:#ffffff;
    margin: 0 auto;
    .sell-image-box{
      width: 100%;
      height: 300px;
      border-bottom: 1px solid #f5f5f5;
      .title{
        display:flex;
        padding-top: 40px;
        &__name{
          font-weight:bolder;
          font-size: 14px;
          padding-left: 40px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .text{
        padding: 20px 0;
        font-size: 14px;
        padding-left: 40px;
        color: #333333;
      }
      .image{
        height:150px;
        width:620px;
        background-color: #f5f5f5;
        border: dashed 2px #C0C0C0;
        margin:0 auto;
        text-align: center;
        &__icon{
          padding-top: 40px;
        }
        &__text1{
          font-size: 12px;
          color: #333333;
        }
        &__text2{
          font-size: 12px;
          color: #333333;
        }
      }
    }
    .item-info-box{
      border-bottom: 1px solid #f5f5f5;
      width:100%;
      height:415px;
      .item-name{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-nbox{
        padding-top: 20px;
        padding-left: 40px;
        &__form{
          width:620px;
          height: 45px;
          font-size: 15px;
          border-radius: 5px;
          padding: 0 16px;
        }
      }
      .item-details{
        padding-top: 20px;
        padding-left: 40px;
        display: flex;
        &__name{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-dbox{
        padding-top: 20px;
        padding-left: 40px;
        &__form{
          width:620px;
          height: 140px;
          font-size: 15px;
          border-radius: 5px;
          padding: 13px 16px;
        }
      }
      .text-count{
        text-align: right;
        padding-right: 40px;
        margin: 10px 0 0;
        font-size: 12px;
        color: #333333;
      }
    }
    .item-type-box{
      width:100%;
      height:450px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f5f5f5;
      .type-text{
        padding-top: 40px;
        padding-left: 40px;
        color: #C0C0C0;
        font-size: 14px;
      }
      .category{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-cbox{
        padding-top: 20px;
        padding-left: 40px;
        &__list{
          width: 620px;
          height: 40px;
        }
      }
      .brand{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: #C0C0C0;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-bbox{
        padding-top: 20px;
        padding-left: 40px;
        &__form{
          width:620px;
          height: 45px;
          font-size: 15px;
          border-radius: 5px;
          padding: 0 16px;
        }
      }
      .status{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-sbox{
        padding-top: 20px;
        padding-left: 40px;
        &__list{
          width: 620px;
          height: 40px;
        }
      }
    }
    .item-deliver-box{
      background-color: #ffffff;
      padding-bottom: 20px;
      border-bottom: 1px solid #f5f5f5;
      height: 430px;
      .deliver-text{
        padding-top: 24px;
        padding-left: 40px;
        color: #C0C0C0;
        font-size: 14px;
      }
      .deliver-fee{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-dvbox{
        padding-top: 20px;
        padding-left: 40px;
        &__list{
          width: 620px;
          height: 40px;
        }
      }
      .deliver-area{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-abox{
        padding-top: 20px;
        padding-left: 40px;
        &__list{
          width: 620px;
          height: 40px;
        }
      }
      .deliver-date{
        padding-top: 40px;
        padding-left: 40px;
        display: flex;
        &__title{
          font-weight:bolder;
          font-size: 14px;
          color: #333333;
        }
        &__need{
          background-color: red;
          color:#ffffff;
          border-radius: 3px;
          font-size: 12px;
          margin-left: 8px;
          padding: 0 4px;
        }
      }
      .item-datebox{
        padding-top: 20px;
        padding-left: 40px;
        &__list{
          width: 620px;
          height: 40px;
        }
      }
    }
    .item-sell-box{
      .price-text{
        padding-top: 24px;
        padding-left: 40px;
        color: #C0C0C0;
        font-size: 14px;
      }
      .sell-prices{
        display:flex;
        justify-content: space-between;
        padding-top: 40px;
        height:40px;
        .sell-price{
          padding-top: 20px;
          padding: 0 40px;
          display: flex;
          height: 20px;
          &__title{
            font-weight:bolder;
            font-size: 14px;
            color: #333333;
          }
          &__need{
            background-color: red;
            color:#ffffff;
            border-radius: 3px;
            font-size: 12px;
            margin-left: 8px;
            padding: 0 4px;
          }
        }
        .sell-box{
          display: flex;
          &__text{
            padding-top: 5px;
            padding-right: 5px;
            color: #333333;
          }
          &__form{
            margin-right: 40px;
            width: 300px;
            height:40px;
            text-align: right;
            border-radius: 3px;
            font-size: 14px;
          }
        }
      }
      .sell-margin{
        padding: 80px 40px 10px 40px;
        display: flex;
        justify-content: space-between;
        &__text{
          font-size: 12px;
          color: #333333;
        }
        &__stick{
          font-size: 12px;
          color: #333333;
        }
      }
      .is-border{
        height: 1px;
        background-color:#f5f5f5;
        width: 90%;
        border: none;
      }
      .sell-benefit{
        padding: 20px 40px 20px 40px;
        display: flex;
        justify-content: space-between;
        &__text{
          font-size: 14px;
          color: #333333;
        }
        &__stick{
          font-size: 14px;
          color: #333333;
        }
      }
    }
    .sell-btn{
      width:360px;
      height:50px;
      background-color: red;
      margin: 24px auto;
      text-align: center;
      border-radius: 5px;
      &__exhibition{
        text-decoration: none;
      }
      &__text{
        color: #ffffff;
        line-height: 50px;
        font-weight:bolder;
      }
    }
    .sell-btn:hover{
      opacity: 0.5;
    }
    .return-btn{
      width:360px;
      height:50px;
      background-color: #cccccc;
      margin: 0 auto;
      text-align: center;
      border-radius: 5px;
      &__return{
      text-decoration: none;
      }
      &__text{
        font-weight:bolder;
        color: #222222;
        font-size: 17px;
        line-height: 50px;
      }
    }
    .return-btn:hover{
      opacity: 0.5;
    }
    .bottom-text{
      padding: 30px 0;
      width:500px;
      margin: 0 auto;
      font-size: 12px;
    }
  }
}